/** Regular */
@font-face {
    font-family: "SF Display Thin";
    font-weight: 400;
    src: url("font/SF-Pro-Display-Thin.otf") format('opentype');
}

@font-face {
    font-family: "SF Display";
    font-weight: 400;
    src: url("font/SF-Pro-Display-Light.otf") format('opentype');
}

body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-color: #9fbfdf;
    background-image: url("img/gradient.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

html {
}

html.sr .load-hidden {
    visibility: hidden;
}

#particles-js{
    background: #cccccc;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:0;
    opacity: 1
}

.cryptedmail:after {
    content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}

#main {
    font-family: 'SF Display', sans-serif;
    background: rgba(255, 255, 255, 0.9);
    position: relative;
    padding: 50px;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

@media (max-width: 576px) {
    #main {
        font-family: 'SF Display', sans-serif;
        background: rgba(255, 255, 255, 0.9);
        position: relative;
        padding: 0px 0px;
        margin: 0px;
    }

    .vertical-center {
        min-height: 100%;
        min-height: 100vh;

        display: flex;
        align-items: baseline;
    }
}

@media (min-width: 992px) {
    .rightBorder {
        border-right: 1px solid #aaaaaa;
    }
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}



.sectionText {
    padding-top: 3%;
    font-size: 1.2em;
}

.quoteText {
    font-size: 2em;

}

.quoteSubText {
    color: #aaaaaa;
    font-size: 1.2em;
}

.jumbotron {
    background-color: white;
}

.name {
    text-align: center;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

div {
    display: block;
}

.jumboheader {
    font-size: 3.3em;
}

.avatar {
    border-radius: 50%;
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.edlogo {
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
 }