body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-color: #0a0a0b;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: auto;
}

html {
    height: 100vh;
    background-color: #0a0a0b;
}

#particles-js{
    background: #0a0a0b;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:0;
    opacity: 1
}

#introtext {
    color: white;
    margin-top: 20vh;
    position: absolute;
    background-color: transparent;
    font-family: 'EB Garamond', serif;
    font-size: 3.5em;
}

#name-banner {
    color: white;
    font-family: 'EB Garamond', serif;
    font-size: 13vw;
    text-align: center;
}

#name-border {
    background: rgba(0, 0, 0, 0.3);
    padding: 2em;
    border-style: double;
    border-color: white;
    display: inline-block;
    position: absolute;
    margin-top: 35vh;
}

#grad1 {
    height: 100px;
    background: white linear-gradient(#0a0a0b, white);
}

.bd-navbar {
    background-color: #0a0a0b;
    font-family: 'Roboto', sans-serif;
    min-height: 3vh;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
}

.no-click {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar {
    min-height: 3vh
}

#about {
    margin-top: 101vh;
    font-family: 'Roboto', sans-serif;
    background: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0);
    position: relative;
    padding: 50px;
}

#skills {
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    background: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0);
    position: relative;
    padding: 50px;
}
.aboutpar {
    padding-top: 3%;
    font-size: 1.4em;
}

.banner {
    position: static;
    pointer-events: none;
}

.jumbotron {
    background-color: white;
}

.skillblob {
    font-size: 1.3em;
}

.skills {
    background-color: rgba(20, 20, 20, 0.7);
    font-family: Roboto, sans-serif;
    font-weight: 100;
}

#tablehead {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 100;
    font-style: normal;
    font-size: 2.5em;
    padding: 15px;
}

#subtablehead {
    color: rgba(200, 200, 200, 0.8);
    padding: 5px;
    font-size: 1.4em;
}

.tableitem {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.8em;
    padding: 10px;

}

#border {
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}

.name {
    text-align: center;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

div {
    display: block;
}

.jumboheader {
    font-size: 3.3em;
}

.avatar {
    border-radius: 50%;
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-color: white;
}
