/** Regular */
@font-face {
    font-family: "SF Display Thin";
    font-weight: 400;
    src: url("font/SF-Pro-Display-Thin.otf") format('opentype');
}

@font-face {
    font-family: "SF Display";
    font-weight: 400;
    src: url("font/SF-Pro-Display-Light.otf") format('opentype');
}

.background {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background: linear-gradient(135deg, #6ebbf1, #cd84b1, #6ebbf1, #cd84b1);
    background-size: 400% 400%;

    -webkit-animation: gradientFade 8s ease infinite;
    -moz-animation: gradientFade 8s ease infinite;
    animation: gradientFade 8s ease infinite;
    animation-direction: alternate;
}

@-webkit-keyframes gradientFade {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}
@-moz-keyframes gradientFade {
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
}
@keyframes gradientFade {
    0%{background-position:0% 0%}
    100%{background-position:100% 100%}
}

html {
}

/* Skills table padding */
td:first-child + td {
    padding-left: 10px;
}


html.sr .load-hidden {
    visibility: hidden;
}

.cryptedmail:after {
    content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}

#main {
    font-family: 'SF Display', sans-serif;
    background: rgba(255, 255, 255, 0.9);
    position: relative;
    padding: 50px;
}

.vertical-center {
    min-height: 100vh;

    display: flex;
    align-items: center;
}

@media (max-width: 576px) {
    #main {
        font-family: 'SF Display', sans-serif;
        background: rgba(255, 255, 255, 0.9);
        position: relative;
        padding: 0 0;
        margin: 0;
    }

    .vertical-center {
        min-height: 100vh;

        display: flex;
        align-items: baseline;
    }
}

@media (min-width: 992px) {
    .rightBorder {
        border-right: 1px solid #aaaaaa;
    }
}

.container {
    padding-left: 0;
    padding-right: 0;
}



.sectionText {
    padding-top: 3%;
    font-size: 1.2em;
}

.quoteText {
    font-size: 2em;

}

.quoteSubText {
    color: #aaaaaa;
    font-size: 1.2em;
}

.jumbotron {
    background-color: white;
}

.name {
    text-align: center;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

div {
    display: block;
}

.jumboheader {
    font-size: 3.3em;
}

.avatar {
    border-radius: 50%;
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}