/** Regular */
@font-face {
    font-family: "SF Display Thin";
    font-weight: 400;
    src: url("font/SF-Pro-Display-Thin.otf") format('opentype');
}

@font-face {
    font-family: "SF Display";
    font-weight: 400;
    src: url("font/SF-Pro-Display-Light.otf") format('opentype');
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-color: #0a0a0b;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-image: url("img/gradient.jpg");
    background-size: cover;
}

html {
    background-color: #0a0a0b;
}

html.sr .load-hidden {
    visibility: hidden;
}

#particles-js{
    background: #cccccc;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:0;
    opacity: 1
}

#main {
    font-family: 'SF Display', sans-serif;
    background: rgba(255, 255, 255, 0.9);
    position: relative;
    padding: 50px;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;

}

.bd-navbar {
    background-color: #0a0a0b;
    font-family: 'Roboto', sans-serif;
    min-height: 3vh;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
}

.no-click {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar {
    min-height: 3vh
}

.aboutpar {
    padding-top: 3%;
    font-size: 1.4em;
}

.banner {
    position: static;
    pointer-events: none;
}

.jumbotron {
    background-color: white;
}

.skillblob {
    font-size: 1.3em;
}

.skills {
    background-color: rgba(20, 20, 20, 0.7);
    font-family: Roboto, sans-serif;
    font-weight: 100;
}

.tableheader {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 100;
    font-style: normal;
    font-size: 2.5em;
    padding: 15px;
}

.tablesubheader {
    color: rgba(200, 200, 200, 0.8);
    padding: 5px;
    font-size: 1.4em;
}

.tableitem {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.8em;
    padding: 10px;

}

.tableborder {
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}

.name {
    text-align: center;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

div {
    display: block;
}

.jumboheader {
    font-size: 3.3em;
}

.avatar {
    border-radius: 50%;
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.edlogo {
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
 }